Repository OWASP/www-project-top-10-for-large-language-model-applications, pull requests merged in 2024-09, with the labels that each got.

#401 Rename ISOIEC20547-4:2020.md
  data_gathering/data_validation/ISOIEC20547-4_2020.md
Labels: bug

#408 chore: Ads/merge unbounded consumption v2
  2_0_vulns/LLM04_ModelDoS.md
  2_0_vulns/LLM04_UnboundedConsumption.md
  2_0_vulns/LLM10_ModelTheft.md
  CODEOWNERS
Labels: llm-04, llm-10

#411 docs: submit backdoor attacks emerging candidate
  2_0_vulns/emerging_candidates/BackdoorAttacks.md
Labels: v2

#413 feat: prompt injection v2 2024 list rewrite
  2_0_vulns/LLM01_PromptInjection.md
Labels: llm-01, v2
