Repository OWASP/www-project-top-10-for-large-language-model-applications, pull requests merged in 2024-11, with the labels that each got.

#457 Broken link in LLM01
  2_0_vulns/LLM01_PromptInjection.md
Labels: bug, llm-01

#465 Entries/minor rc 2025 fixes
  2_0_vulns/LLM01_PromptInjection.md
  2_0_vulns/LLM04_DataModelPoisoning.md
  2_0_vulns/LLM06_ExcessiveAgency.md
  2_0_vulns/LLM10_UnboundedConsumption.md
Labels: v2

#468 fix: minor rc 2025 fixes from #467
  2_0_vulns/LLM01_PromptInjection.md
Labels: bug, llm-01, v2

#483 Fixed typo, resolves #482
  2_0_vulns/LLM03_SupplyChain.md
Labels: bug, llm-03

#486 added initial files for Spanish translations
  2_0_vulns/translations/es-ES/LLM00_Preface.md
  2_0_vulns/translations/es-ES/LLM01_PromptInjection.md
  2_0_vulns/translations/es-ES/LLM02_SensitiveInformationDisclosure.md
  2_0_vulns/translations/es-ES/LLM03_SupplyChain.md
  2_0_vulns/translations/es-ES/LLM04_DataModelPoisoning.md
  2_0_vulns/translations/es-ES/LLM05_ImproperOutputHandling.md
  2_0_vulns/translations/es-ES/LLM06_ExcessiveAgency.md
  2_0_vulns/translations/es-ES/LLM07_SystemPromptLeakage.md
  2_0_vulns/translations/es-ES/LLM08_VectorAndEmbeddingWeaknesses.md
  2_0_vulns/translations/es-ES/LLM09_Misinformation.md
  2_0_vulns/translations/es-ES/LLM10_UnboundedConsumption.md
Labels: translations

#487 adding pre-translated files for German
  2_0_vulns/translations/de-DE/LLM00_Preface.md
  2_0_vulns/translations/de-DE/LLM01_PromptInjection.md
  2_0_vulns/translations/de-DE/LLM02_SensitiveInformationDisclosure.md
  2_0_vulns/translations/de-DE/LLM03_SupplyChain.md
  2_0_vulns/translations/de-DE/LLM04_DataModelPoisoning.md
  2_0_vulns/translations/de-DE/LLM05_ImproperOutputHandling.md
  2_0_vulns/translations/de-DE/LLM06_ExcessiveAgency.md
  2_0_vulns/translations/de-DE/LLM07_SystemPromptLeakage.md
  2_0_vulns/translations/de-DE/LLM08_VectorAndEmbeddingWeaknesses.md
  2_0_vulns/translations/de-DE/LLM09_Misinformation.md
  2_0_vulns/translations/de-DE/LLM10_UnboundedConsumption.md
Labels: translations

#488 adding pre-translated files for Chinese
  2_0_vulns/translations/zh-CN/LLM00_Preface.md
  2_0_vulns/translations/zh-CN/LLM01_PromptInjection.md
  2_0_vulns/translations/zh-CN/LLM02_SensitiveInformationDisclosure.md
  2_0_vulns/translations/zh-CN/LLM03_SupplyChain.md
  2_0_vulns/translations/zh-CN/LLM04_DataModelPoisoning.md
  2_0_vulns/translations/zh-CN/LLM05_ImproperOutputHandling.md
  2_0_vulns/translations/zh-CN/LLM06_ExcessiveAgency.md
  2_0_vulns/translations/zh-CN/LLM07_SystemPromptLeakage.md
  2_0_vulns/translations/zh-CN/LLM08_VectorAndEmbeddingWeaknesses.md
  2_0_vulns/translations/zh-CN/LLM09_Misinformation.md
  2_0_vulns/translations/zh-CN/LLM10_UnboundedConsumption.md
Labels: translations
