Repository OWASP/www-project-top-10-for-large-language-model-applications, pull requests merged in 2024-10, with the labels that each got.

#417 feat: ads add system prompt leakage
  2_0_vulns/emerging_candidates/SystemPromptLeakage.md
Labels: v2

#419 Update Excessive Agency and remove Insecure Plugin Design
  2_0_vulns/LLM07_InsecurePluginDesign.md
  2_0_vulns/LLM08_ExcessiveAgency.md
Labels: enhancement, llm-07, llm-08, v2

#420 docs: minor updates to spl
  2_0_vulns/emerging_candidates/SystemPromptLeakage.md
Labels: v2

#424 docs: add proof pudding cve
  2_0_vulns/LLM02_ImproperOutputHandling.md
  2_0_vulns/LLM04_UnboundedConsumption.md
Labels: llm-02, llm-04

#425 docs: tuning x validation
  2_0_vulns/LLM09_Misinformation.md
Labels: llm-09

#428 docs: remove authors non bias
  2_0_voting/voting_round_two/BackdoorAttacks.md
  2_0_voting/voting_round_two/InsecureDesign.md
  2_0_voting/voting_round_two/Misinformation.md
  2_0_voting/voting_round_two/UnboundedConsumption.md
Labels: v2

#431 docs: add relevant frameworks and taxonomies
  2_0_voting/voting_round_two/BackdoorAttacks.md
  2_0_voting/voting_round_two/DataModelPoisoning.md
  2_0_voting/voting_round_two/ExcessiveAgency.md
  2_0_voting/voting_round_two/Misinformation.md
  2_0_voting/voting_round_two/PromptInjection.md
  2_0_voting/voting_round_two/SensitiveInformationDisclosure.md
  2_0_voting/voting_round_two/SystemPromptLeakage.md
  2_0_voting/voting_round_two/UnboundedConsumption.md
Labels: v2

#435 fix: change symbol for windows git users
  data_gathering/data_validation/ISOIEC20547_4_2020.md
Labels: bug

#436 chore: 2024 entry refinements and move automated feedback to voting directory
  2_0_voting/automated_feedback/BackdoorAttacks_Feedback.md
  2_0_voting/automated_feedback/DataModelPoisoning_Feedback.md
  2_0_voting/automated_feedback/ExcessiveAgency_Feedback.md
  2_0_voting/automated_feedback/ImproperOutputHandling_feedback.md
  2_0_voting/automated_feedback/Misinformation_Feedback.md
  2_0_voting/automated_feedback/PromptInjection_Feedback.md
  2_0_voting/automated_feedback/RetrievalAugmentedGeneration_Feedback.md
  2_0_voting/automated_feedback/SensitiveInformationDisclosure_Feedback.md
  2_0_voting/automated_feedback/SupplyChainVulnerabilities_Feedback.md
  2_0_voting/automated_feedback/SystemPromptLeakage_Feedback.md
  2_0_voting/automated_feedback/UnboundedConsumption_Feedback.md
  2_0_voting/voting_round_two/BackdoorAttacks.md
  2_0_voting/voting_round_two/DataModelPoisoning.md
  2_0_voting/voting_round_two/SensitiveInformationDisclosure.md
  2_0_voting/voting_round_two/UnboundedConsumption.md
  2_0_vulns/LLM03_DataModelPoisoning.md
  2_0_vulns/LLM04_UnboundedConsumption.md
  2_0_vulns/LLM06_SensitiveInformationDisclosure.md
  2_0_vulns/emerging_candidates/BackdoorAttacks.md
  CoreTeam.md
Labels: llm-03, llm-04, llm-06, v2

#438 Update ExcessiveAgency based on feedback post-voting
  2_0_voting/voting_round_two/ExcessiveAgency.md
Labels: v2

#439 docs: updates from v2 voting refinement
  2_0_voting/voting_round_two/SystemPromptLeakage.md
Labels: v2

#443 docs: update misinformation for steve
  2_0_voting/voting_round_two/Misinformation.md
  2_0_vulns/LLM09_Misinformation.md
Labels: llm-09, v2

#444 Update PromptInjection.md
  2_0_voting/voting_round_two/PromptInjection.md
Labels: llm-01, v2

#446 chore: merge backdoor w model poisoning
  2_0_vulns/LLM03_DataModelPoisoning.md
Labels: llm-03

#448 Corrected mistakes, added missed fixes, reduced references, added MITRE enry in related frameworks
  2_0_vulns/LLM03_SupplyChain.md
Labels: llm-03

#452 Update LLM06 formatting
  2_0_vulns/LLM06_ExcessiveAgency.md
Labels: v2

#454 Update LLM06 formatting
  2_0_vulns/LLM06_ExcessiveAgency.md
Labels: v2
