Repository OWASP/www-project-top-10-for-large-language-model-applications, changes with the owners that CODEOWNERS names for each.
All owners: @GangGreenTemperTatum, @virtualsteve-star, @emmanuelgjr, @leondz, @kenhuangus, @jsotiro, @rot169, @rossja

CODEOWNERS:

## Explicit Match Any:
*   @GangGreenTemperTatum @virtualsteve-star

# Shared Community Files and Areas:
# TBC

## Either Ads or Steve can approve changes to CODEOWNERS:
CODEOWNERS @GangGreenTemperTatum @virtualsteve-star

## Data Gathering
data_gathering/* @emmanuelgjr @GangGreenTemperTatum

# Top 10 Vulnerabilities: (www-project-top-10-for-large-language-model-applications/1_1_vulns/)
## LLM01:
PromptInjection.md @leondz
## LLM02:
InsecureOutputHandling.md @kenhuangus
## LLM03:
TrainingDataPoisoning.md @GangGreenTemperTatum
## LLM04:
ModelDoS.md @kenhuangus
## LLM05:
SupplyChainVulnerabilities.md @jsotiro
## LLM06:
SensitiveInformationDisclosure.md @GangGreenTemperTatum
## LLM07:
InsecurePluginDesign.md @jsotiro
## LLM08:
ExcessiveAgency.md @rot169
## LLM09:
Overreliance.md @virtualsteve-star
## LLM10:
ModelTheft.md @GangGreenTemperTatum

## Template:
_template.md @rossja

chore: rename last few anomalies
  2_0_voting/BackdoorAttacks.md
  2_0_voting/DeepfakeThreat.md
  2_0_voting/IndirectContextInjection.md
  2_0_voting/MultimodalInjections.md
  2_0_voting/PromptInjection.md
  2_0_voting/SupplyChainVulnerabilities.md
Owners: @GangGreenTemperTatum, @virtualsteve-star, @leondz, @jsotiro

chore: simple categorized list and restructure
  2_0_voting/candidate_files/AIAssistedSocialEngineering.md
  2_0_voting/candidate_files/AdversarialAIRedTeamingCyberOps.md
  2_0_voting/candidate_files/AdversarialInputs.md
  2_0_voting/candidate_files/AgentAutonomyEscalation.md
  2_0_voting/candidate_files/AlignmentValueMismatch.md
  2_0_voting/candidate_files/BackdoorAttacks.md
  2_0_voting/candidate_files/BypassingSystemInstructionsUsingSystemPromptLeakage.md
  2_0_voting/candidate_files/DangerousHallucinations.md
  2_0_voting/candidate_files/DeepfakeThreat.md
  2_0_voting/candidate_files/DevelopingInsecureSourceCode.md
  2_0_voting/candidate_files/EmbeddingInversion.md
  2_0_voting/candidate_files/FineTuningRag.md
  2_0_voting/candidate_files/FunctionCallingAttack.md
  2_0_voting/candidate_files/ImproperErrorHandling.md
  2_0_voting/candidate_files/IndirectContextInjection.md
  2_0_voting/candidate_files/InsecureDesign.md
  2_0_voting/candidate_files/InsecureInputHandling.md
  2_0_voting/candidate_files/MaliciousLLMTuner.md
  2_0_voting/candidate_files/ModelInversion.md
  2_0_voting/candidate_files/MultimodalInjections.md
  2_0_voting/candidate_files/MultimodelManipulation.md
  2_0_voting/candidate_files/Overreliancerewrite.md
  2_0_voting/candidate_files/PrivacyViolation.md
  2_0_voting/candidate_files/PromptInjection.md
  2_0_voting/candidate_files/ResourceExhaustion.md
  2_0_voting/candidate_files/SensitiveInformationDisclosure.md
  2_0_voting/candidate_files/SupplyChainVulnerabilities.md
  2_0_voting/candidate_files/SystemPromptLeakage.md
  2_0_voting/candidate_files/UIAccessControlManipulation.md
  2_0_voting/candidate_files/UnauthorizedAccessandEntitlementViolations.md
  2_0_voting/candidate_files/UnrestrictedResourceConsumption.md
  2_0_voting/candidate_files/Unwanted-AI-Actions.md
  2_0_voting/candidate_files/VoiceModelMisuse.md
  2_0_voting/candidate_files/VulnerableAutonomousAgents.md
  2_0_voting/simple_list.md
  2_0_voting/voting.md
Owners: @GangGreenTemperTatum, @virtualsteve-star, @leondz, @jsotiro

chore: archive candidates
  Archive/2_0_candidates/AdityaRana_BypassingSystemInstructionsUsingSystemPromptLeakage
  Archive/2_0_candidates/AdsDawson_AdversarialAI_RedTeaming_CyberOps.md
  Archive/2_0_candidates/AdsDawson_AdversarialInputs.md
  Archive/2_0_candidates/AdsDawson_ImproperErrorHandling.md
  Archive/2_0_candidates/AdsDawson_InsecureDesign.md
  Archive/2_0_candidates/AdsDawson_ModelInversion.md
  Archive/2_0_candidates/AdsDawson_UnrestrictedResourceConsumption.md
  Archive/2_0_candidates/BobWall_EmbeddingInversion.md
  Archive/2_0_candidates/Bozza_Meucci_ Backdoor_Attacks.md
  Archive/2_0_candidates/Bozza_Meucci_Indirect_Context_Injection.md
  Archive/2_0_candidates/EmmanuelGuilherme_AgentAutonomyEscalation.md
  Archive/2_0_candidates/EvgeniyKokuykin_FunctionCallingAttack.md
  Archive/2_0_candidates/JamesNakayama_SensitiveInformationDisclosure
  Archive/2_0_candidates/James_Nakayama_PromptInjection
  Archive/2_0_candidates/JamieKhan_Malicious_LLM_Tuner.md
  Archive/2_0_candidates/JohnSotiropoulos_LLM05_SupplyChainVulnerabilities.md
  Archive/2_0_candidates/JohnSotiropoulos_VulnerableAutonomousAgents.md
  Archive/2_0_candidates/KenHuang_AdsDawson_Deepfake_Threat.md
  Archive/2_0_candidates/KenHuang_Unauthorized_Access _and_Entitlement_Violations.md
  Archive/2_0_candidates/KrishnaSankar_Alignment_Value_Mismatch.md
  Archive/2_0_candidates/KrishnaSankar_FineTuningRag.md
  Archive/2_0_candidates/KrishnaSankar_Overreliance_rewrite.md
  Archive/2_0_candidates/MarkusHupfauer_Unwanted-AI-Actions.md
  Archive/2_0_candidates/Nakayama_InsecureInputHandling
  Archive/2_0_candidates/Nakayama_James_MultimodalInjections.md
  Archive/2_0_candidates/PriyadharshiniParthasarathy_Developing_Insecure_Source_Code
  Archive/2_0_candidates/RachitSood_SystemPromptLeakage.md
  Archive/2_0_candidates/SteveWilson_DangerousHallucinations.md
  Archive/2_0_candidates/SteveWilson_ResourceExhaustion.md
  Archive/2_0_candidates/TaleshSeeparsan_UIAccessControlManipulation.md
  Archive/2_0_candidates/Vaibhav Malik_ Privacy Violation.md
  Archive/2_0_candidates/Vaibhav Malik_Voice Model Misuse.md
  Archive/2_0_candidates/VaibhavMalik_AIAssistedSocialEngineering.md
  Archive/2_0_candidates/VaibhavMalik_MultimodelManipulation
  Archive/2_0_candidates/_instructions.md
  Archive/2_0_candidates/_template.md
Owners: @GangGreenTemperTatum, @virtualsteve-star, @rossja

chore: create index
  2_0_voting/categorized_list.md
  2_0_voting/index.md
  2_0_voting/voting.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

fix: fix index refs
  2_0_voting/index.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

feat: create voting index
  2_0_voting/voting.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Rename V2_Candidates_20240617.pdf to v2_candidates.pdf
  2_0_voting/v2_candidates.pdf
Owners: @GangGreenTemperTatum, @virtualsteve-star

Delete 2_0_voting/v2_candidates.pdf
  2_0_voting/v2_candidates.pdf
Owners: @GangGreenTemperTatum, @virtualsteve-star

Add missing bullet point for LLM10 that does not exist in Markdown files (#258)
  1_1_vulns/LLM10_ModelTheft.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: add rands latest research
  2_0_vulns/LLM10_ModelTheft.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: add rands latest research (#383)
  2_0_vulns/LLM10_ModelTheft.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Update README.md
  README.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Update README.md (#384)
  README.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

fix: candidate links
  2_0_voting/index.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: conformity of link structures
  2_0_voting/index.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Ads/fix v2 index links (#385)
  2_0_voting/index.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Adding 2.0 voting results
  2_0_voting/results/Bottom.png
  2_0_voting/results/Sorted_OWASP_Top_10_LLM_Bottom_Choices_Analysis.csv
  2_0_voting/results/Sorted_OWASP_Top_10_LLM_Choices_Analysis.csv
  2_0_voting/results/Top.png
  2_0_voting/results/owasp_top_10_llm_bottom_choices_analysis.md
  2_0_voting/results/owasp_top_10_llm_top_entries_summary.md
  2_0_voting/results/v2.0 Candidate Voting Raw.csv
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: new v2 entry proposals data support
  data_gathering/entrydatasupport/BackdoorAttacks.md
  data_gathering/entrydatasupport/BypassingSIUSPL.md
  data_gathering/entrydatasupport/DangerousHallucinations.md
  data_gathering/entrydatasupport/DeepFakeThreat.md
  data_gathering/entrydatasupport/InsecureDesign.md
  data_gathering/entrydatasupport/SensitiveInfoDisclosure.md
  data_gathering/entrydatasupport/SupplyChainV.md
  data_gathering/entrydatasupport/UnwantedAIActions.md
  data_gathering/entrydatasupport/VulnerableAutonomousAgents.md
  data_gathering/entrydatasupport/promptinjection.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: wip v2 entry proposals data support
  data_gathering/entrydatasupport/BackdoorAttacks.md
  data_gathering/entrydatasupport/BypassingSIUSPL.md
  data_gathering/entrydatasupport/DangerousHallucinations.md
  data_gathering/entrydatasupport/DeepFakeThreat.md
  data_gathering/entrydatasupport/InsecureDesign.md
  data_gathering/entrydatasupport/SensitiveInfoDisclosure.md
  data_gathering/entrydatasupport/SupplyChainV.md
  data_gathering/entrydatasupport/UnwantedAIActions.md
  data_gathering/entrydatasupport/VulnerableAutonomousAgents.md
  data_gathering/entrydatasupport/promptinjection.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: wip v2 entry proposals data support (#387)
  data_gathering/entrydatasupport/BackdoorAttacks.md
  data_gathering/entrydatasupport/BypassingSIUSPL.md
  data_gathering/entrydatasupport/DangerousHallucinations.md
  data_gathering/entrydatasupport/DeepFakeThreat.md
  data_gathering/entrydatasupport/InsecureDesign.md
  data_gathering/entrydatasupport/SensitiveInfoDisclosure.md
  data_gathering/entrydatasupport/SupplyChainV.md
  data_gathering/entrydatasupport/UnwantedAIActions.md
  data_gathering/entrydatasupport/VulnerableAutonomousAgents.md
  data_gathering/entrydatasupport/promptinjection.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

feat: data entry v2 complete
  data_gathering/entrydatasupport/BackdoorAttacks.md
  data_gathering/entrydatasupport/BypassingSIUSPL.md
  data_gathering/entrydatasupport/DangerousHallucinations.md
  data_gathering/entrydatasupport/DeepFakeThreat.md
  data_gathering/entrydatasupport/InsecureDesign.md
  data_gathering/entrydatasupport/LICENSE
  data_gathering/entrydatasupport/README.md
  data_gathering/entrydatasupport/SensitiveInfoDisclosure.md
  data_gathering/entrydatasupport/SupplyChainV.md
  data_gathering/entrydatasupport/UnwantedAIActions.md
  data_gathering/entrydatasupport/VulnerableAutonomousAgents.md
  data_gathering/entrydatasupport/promptinjection.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

feat: data entry v2 complete (#389)
  data_gathering/entrydatasupport/BackdoorAttacks.md
  data_gathering/entrydatasupport/BypassingSIUSPL.md
  data_gathering/entrydatasupport/DangerousHallucinations.md
  data_gathering/entrydatasupport/DeepFakeThreat.md
  data_gathering/entrydatasupport/InsecureDesign.md
  data_gathering/entrydatasupport/LICENSE
  data_gathering/entrydatasupport/README.md
  data_gathering/entrydatasupport/SensitiveInfoDisclosure.md
  data_gathering/entrydatasupport/SupplyChainV.md
  data_gathering/entrydatasupport/UnwantedAIActions.md
  data_gathering/entrydatasupport/VulnerableAutonomousAgents.md
  data_gathering/entrydatasupport/promptinjection.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: move data gathering into v2 struct
  data_gathering/entrydatasupport/2_0/2_0_candidates/BackdoorAttacks.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/BypassingSIUSPL.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/DangerousHallucinations.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/DeepFakeThreat.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/InsecureDesign.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/LICENSE
  data_gathering/entrydatasupport/2_0/2_0_candidates/README.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/SensitiveInfoDisclosure.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/SupplyChainV.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/UnwantedAIActions.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/VulnerableAutonomousAgents.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/promptinjection.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: move data gathering into v2 struct (#390)
  data_gathering/entrydatasupport/2_0/2_0_candidates/BackdoorAttacks.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/BypassingSIUSPL.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/DangerousHallucinations.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/DeepFakeThreat.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/InsecureDesign.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/LICENSE
  data_gathering/entrydatasupport/2_0/2_0_candidates/README.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/SensitiveInfoDisclosure.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/SupplyChainV.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/UnwantedAIActions.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/VulnerableAutonomousAgents.md
  data_gathering/entrydatasupport/2_0/2_0_candidates/promptinjection.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

added pdf workflow automation and headers for 5 languages
  .github/workflows/markdown-to-pdf.yml
  1_1_vulns/translations/de/LLM00_Introduction.md
  1_1_vulns/translations/hi/LLM00_Introduction.md
  1_1_vulns/translations/it/LLM00_Introduction.md
  1_1_vulns/translations/pt/LLM00_Introduction.md
  1_1_vulns/translations/zh/LLM00_Introduction.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

added markdown to pdf folder
  markdown-to-pdf/README.md
  markdown-to-pdf/frontmatter.md
  markdown-to-pdf/generated/.gitkeep
  markdown-to-pdf/img/OWASP-title-logo.svg
  markdown-to-pdf/img/diagram.png
  markdown-to-pdf/img/header-background.png
  markdown-to-pdf/img/logo.png
  markdown-to-pdf/img/title-background.png
  markdown-to-pdf/markdown_to_pdf.sh
  markdown-to-pdf/styles/base.css
  markdown-to-pdf/styles/topten-de.css
  markdown-to-pdf/styles/topten-hi.css
  markdown-to-pdf/styles/topten-it.css
  markdown-to-pdf/styles/topten-ja.css
  markdown-to-pdf/styles/topten-pt.css
  markdown-to-pdf/styles/topten-zh.css
Owners: @GangGreenTemperTatum, @virtualsteve-star

Markdown to PDF workflow automation (#391)
  .github/workflows/markdown-to-pdf.yml
  1_1_vulns/translations/de/LLM00_Introduction.md
  1_1_vulns/translations/hi/LLM00_Introduction.md
  1_1_vulns/translations/it/LLM00_Introduction.md
  1_1_vulns/translations/pt/LLM00_Introduction.md
  1_1_vulns/translations/zh/LLM00_Introduction.md
  markdown-to-pdf/README.md
  markdown-to-pdf/frontmatter.md
  markdown-to-pdf/generated/.gitkeep
  markdown-to-pdf/img/OWASP-title-logo.svg
  markdown-to-pdf/img/diagram.png
  markdown-to-pdf/img/header-background.png
  markdown-to-pdf/img/logo.png
  markdown-to-pdf/img/title-background.png
  markdown-to-pdf/markdown_to_pdf.sh
  markdown-to-pdf/styles/base.css
  markdown-to-pdf/styles/topten-de.css
  markdown-to-pdf/styles/topten-hi.css
  markdown-to-pdf/styles/topten-it.css
  markdown-to-pdf/styles/topten-ja.css
  markdown-to-pdf/styles/topten-pt.css
  markdown-to-pdf/styles/topten-zh.css
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: ads wip v2 arch threat model diagram
  2_0_vulns/artifacts/OWASP Top 10 for LLM Applications and Generative AI - LLM Application HLD - Presentation DLD (2).png
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: rename file
  2_0_vulns/artifacts/OWASP Top 10 for LLM Applications and Generative AI - LLM Application Architecture and Threat Modeling.png
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: ads wip v2 arch threat model diagram (#393)
  2_0_vulns/artifacts/OWASP Top 10 for LLM Applications and Generative AI - LLM Application Architecture and Threat Modeling.png
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: enhancing v2 data model poisoning entry
  2_0_vulns/LLM03_DataModelPoisoning.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: enhancing v2 data model poisoning entry (#394)
  2_0_vulns/LLM03_DataModelPoisoning.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: enhancing v2 sensitive information disclosure entry
  2_0_vulns/LLM06_SensitiveInformationDisclosure.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: add tokenizers and padding structs
  2_0_vulns/LLM06_SensitiveInformationDisclosure.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: enhancing v2 sensitive information disclosure entry (#395)
  2_0_vulns/LLM06_SensitiveInformationDisclosure.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: llm06 homomorphic encryption refs v2
  2_0_vulns/LLM06_SensitiveInformationDisclosure.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: llm06 homomorphic encryption refs v2 (#396)
  2_0_vulns/LLM06_SensitiveInformationDisclosure.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: v2 emerging candidate ads unrestricted model inference
  2_0_vulns/emerging_candidates/README.md
  2_0_vulns/emerging_candidates/UnrestrictedModelInference.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: add tldr of merge replace
  2_0_vulns/emerging_candidates/UnrestrictedModelInference.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: v2 emerging candidate ads unrestricted model inference (#397)
  2_0_vulns/emerging_candidates/README.md
  2_0_vulns/emerging_candidates/UnrestrictedModelInference.md
Owners: @GangGreenTemperTatum, @virtualsteve-star
