Repository OWASP/www-project-top-10-for-large-language-model-applications, changes with the owners that CODEOWNERS names for each.
All owners: @GangGreenTemperTatum, @virtualsteve-star, @emmanuelgjr, @cybershujin, @kenhuangus, @jsotiro, @rot169, @rossja

docs: cleanup core team links
  CoreTeam.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: cleanup core team links (#433)
  CoreTeam.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

fix: change symbol for windows git users
  data_gathering/data_validation/ISOIEC20547_4_2020.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

fix: change symbol for windows git users (#435)
  data_gathering/data_validation/ISOIEC20547_4_2020.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Adding automated feedback
  2_0_vulns/automated_feedback/BackdoorAttacks_Feedback.md
  2_0_vulns/automated_feedback/DataModelPoisoning_Feedback.md
  2_0_vulns/automated_feedback/ExcessiveAgency_Feedback.md
  2_0_vulns/automated_feedback/ImproperOutputHandling_feedback.md
  2_0_vulns/automated_feedback/Misinformation_Feedback.md
  2_0_vulns/automated_feedback/PromptInjection_Feedback.md
  2_0_vulns/automated_feedback/RetrievalAugmentedGeneration_Feedback.md
  2_0_vulns/automated_feedback/SensitiveInformationDisclosure_Feedback.md
  2_0_vulns/automated_feedback/SupplyChainVulnerabilities_Feedback.md
  2_0_vulns/automated_feedback/SystemPromptLeakage_Feedback.md
  2_0_vulns/automated_feedback/UnboundedConsumption_Feedback.md
  2_0_vulns/emerging_candidates/InsecureDesign.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Updates based on automated feedback
  2_0_vulns/LLM08_ExcessiveAgency.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Added blog link from Twilio
  2_0_vulns/LLM08_ExcessiveAgency.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Punchier variant of example scenario
  2_0_vulns/LLM08_ExcessiveAgency.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: move automated feedback to voting directory
  2_0_voting/automated_feedback/BackdoorAttacks_Feedback.md
  2_0_voting/automated_feedback/DataModelPoisoning_Feedback.md
  2_0_voting/automated_feedback/ExcessiveAgency_Feedback.md
  2_0_voting/automated_feedback/ImproperOutputHandling_feedback.md
  2_0_voting/automated_feedback/Misinformation_Feedback.md
  2_0_voting/automated_feedback/PromptInjection_Feedback.md
  2_0_voting/automated_feedback/RetrievalAugmentedGeneration_Feedback.md
  2_0_voting/automated_feedback/SensitiveInformationDisclosure_Feedback.md
  2_0_voting/automated_feedback/SupplyChainVulnerabilities_Feedback.md
  2_0_voting/automated_feedback/SystemPromptLeakage_Feedback.md
  2_0_voting/automated_feedback/UnboundedConsumption_Feedback.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: refine data model poisoning
  2_0_voting/voting_round_two/DataModelPoisoning.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: add more prevention strategies
  2_0_voting/voting_round_two/SensitiveInformationDisclosure.md
Owners: @GangGreenTemperTatum

docs: update unbounded consumption feedback
  2_0_voting/voting_round_two/UnboundedConsumption.md
Owners: @GangGreenTemperTatum

docs: backdoor attacks feedback
  2_0_voting/voting_round_two/BackdoorAttacks.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: update both dirs
  2_0_vulns/LLM03_DataModelPoisoning.md
  2_0_vulns/LLM04_UnboundedConsumption.md
  2_0_vulns/LLM06_SensitiveInformationDisclosure.md
  2_0_vulns/emerging_candidates/BackdoorAttacks.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: small table update
  CoreTeam.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: 2024 entry refinements and move automated feedback to voting directory (#436)
  2_0_voting/automated_feedback/BackdoorAttacks_Feedback.md
  2_0_voting/automated_feedback/DataModelPoisoning_Feedback.md
  2_0_voting/automated_feedback/ExcessiveAgency_Feedback.md
  2_0_voting/automated_feedback/ImproperOutputHandling_feedback.md
  2_0_voting/automated_feedback/Misinformation_Feedback.md
  2_0_voting/automated_feedback/PromptInjection_Feedback.md
  2_0_voting/automated_feedback/RetrievalAugmentedGeneration_Feedback.md
  2_0_voting/automated_feedback/SensitiveInformationDisclosure_Feedback.md
  2_0_voting/automated_feedback/SupplyChainVulnerabilities_Feedback.md
  2_0_voting/automated_feedback/SystemPromptLeakage_Feedback.md
  2_0_voting/automated_feedback/UnboundedConsumption_Feedback.md
  2_0_voting/voting_round_two/BackdoorAttacks.md
  2_0_voting/voting_round_two/DataModelPoisoning.md
  2_0_voting/voting_round_two/SensitiveInformationDisclosure.md
  2_0_voting/voting_round_two/UnboundedConsumption.md
  2_0_vulns/LLM03_DataModelPoisoning.md
  2_0_vulns/LLM04_UnboundedConsumption.md
  2_0_vulns/LLM06_SensitiveInformationDisclosure.md
  2_0_vulns/emerging_candidates/BackdoorAttacks.md
  CoreTeam.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Addressed automated feedback comments
  2_0_vulns/LLM05_SupplyChainVulnerabilities.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Addressed Automated Feedback, added CloudBorn, Cloudjacking, LeftoverLocals (CVE-2023-496) and Shadow Ray as example attacks
  2_0_vulns/LLM05_SupplyChainVulnerabilities.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

remote update file
  _data/ow_attributions.json
Owners: @GangGreenTemperTatum, @virtualsteve-star

Update ExcessiveAgency based on feedback post-voting
  2_0_voting/voting_round_two/ExcessiveAgency.md
Owners: @rot169

Update ExcessiveAgency based on feedback post-voting (#438)
  2_0_voting/voting_round_two/ExcessiveAgency.md
Owners: @rot169

docs: updates from v2 voting refinement
  2_0_voting/voting_round_two/SystemPromptLeakage.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: updates from v2 voting refinement (#439)
  2_0_voting/voting_round_two/SystemPromptLeakage.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Create VectorAndEmbeddingWeaknesses.md
  2_0_voting/voting_round_two/VectorAndEmbeddingWeaknesses.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Create VectorAndEmbeddingWeaknesses.md (#440)
  2_0_voting/voting_round_two/VectorAndEmbeddingWeaknesses.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: rm rag
  2_0_voting/voting_round_two/RetrievalAugmentedGeneration.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: rm rag (#441)
  2_0_voting/voting_round_two/RetrievalAugmentedGeneration.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Update README.md
  2_0_voting/voting_round_two/README.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: update misinformation for steve
  2_0_voting/voting_round_two/Misinformation.md
  2_0_vulns/LLM09_Misinformation.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

docs: update misinformation for steve (#443)
  2_0_voting/voting_round_two/Misinformation.md
  2_0_vulns/LLM09_Misinformation.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Update PromptInjection.md
  2_0_voting/voting_round_two/PromptInjection.md
Owners: @cybershujin

Update PromptInjection.md (#444)
  2_0_voting/voting_round_two/PromptInjection.md
Owners: @cybershujin

Updates after discussions with Steve
  2_0_voting/voting_round_two/VectorAndEmbeddingWeaknesses.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Updates after discussions with Steve (#445)
  2_0_voting/voting_round_two/VectorAndEmbeddingWeaknesses.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: merge backdoor w model poisoning
  2_0_vulns/LLM03_DataModelPoisoning.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

chore: merge backdoor w model poisoning (#446)
  2_0_vulns/LLM03_DataModelPoisoning.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Update SupplyChainVulnerabilities.md
  2_0_voting/voting_round_two/SupplyChainVulnerabilities.md
Owners: @jsotiro

Rename SupplyChainVulnerabilities.md to SupplyChain.md
  2_0_voting/voting_round_two/SupplyChain.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

Update names/numbers
  2_0_voting/voting_round_two/DataModelPoisoning.md
  2_0_voting/voting_round_two/ExcessiveAgency.md
  2_0_voting/voting_round_two/ImproperOutputHandling.md
  2_0_voting/voting_round_two/Misinformation.md
  2_0_voting/voting_round_two/PromptInjection.md
  2_0_voting/voting_round_two/SensitiveInformationDisclosure.md
  2_0_voting/voting_round_two/UnboundedConsumption.md
  2_0_voting/voting_round_two/VectorAndEmbeddingWeaknesses.md
Owners: @GangGreenTemperTatum, @virtualsteve-star, @rot169, @cybershujin

Update SystemPromptLeakage.md
  2_0_voting/voting_round_two/SystemPromptLeakage.md
Owners: @GangGreenTemperTatum, @virtualsteve-star

CODEOWNERS:

## Explicit Match Any:
*   @GangGreenTemperTatum @virtualsteve-star

# Shared Community Files and Areas:
# TBC

## Either Ads or Steve can approve changes to CODEOWNERS:
CODEOWNERS @GangGreenTemperTatum @virtualsteve-star
2_0_vulns/emerging_candidates @GangGreenTemperTatum

## Data Gathering
data_gathering/* @emmanuelgjr @GangGreenTemperTatum

# Top 10 Vulnerabilities: (www-project-top-10-for-large-language-model-applications/1_1_vulns/)
## LLM01:
PromptInjection.md @cybershujin
## LLM02:
InsecureOutputHandling.md @kenhuangus
## LLM03:
TrainingDataPoisoning.md @GangGreenTemperTatum
## LLM04:
UnboundedConsumption.md @GangGreenTemperTatum
## LLM05:
SupplyChainVulnerabilities.md @jsotiro
## LLM06:
SensitiveInformationDisclosure.md @GangGreenTemperTatum
## LLM07:
InsecurePluginDesign.md @jsotiro
## LLM08:
ExcessiveAgency.md @rot169
## LLM09:
Overreliance.md @virtualsteve-star
## LLM10:


## Template:
_template.md @rossja
